@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

/*===============================================
# Preloader
===============================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #6cb7f8;
  border-top-color: #bfe0fd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =============== Scrollbar ================== */
html::-webkit-scrollbar {
  width: 0.3em;
  height: 1em;
}
html::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
  scroll-margin-inline: 2em;
}
html::-webkit-scrollbar-track:hover {
  background: whitesmoke;
}
html::-webkit-scrollbar-thumb {
  background: #b6ccfe;
  border: 0.25em solid #b6ccfe;
  border-radius: 100vw;
}
html::-webkit-scrollbar-thumb:hover {
  background: #8aadff;
  border: 0.25em solid #8aadff;
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #b6ccfe white;
    scrollbar-width: auto;
  }
}

/* ==================== NAVBAR ======================= */
.logo {
  width: 10vw;
  padding-left: 2vw;
}
body .navbar{
  padding: 0.8vw 4vw;
}
.nav-item {
  margin-right: 1.3em;
  font-weight: 500;
}
.nav-link:hover::after,
.dropdown-item:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #2163ab;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
/* ----------------------------- END NAVBAR------------------------------- */

/* ------------------ Carousel ------------------------------ */
.slide-images {
  width: 100vw;
  height: 100vh;
}
.carousel-item:before {
  content: "";
  background: rgba(16, 16, 16, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.carousel-caption {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11vw;
  padding: 0 5em;
}
.carousel-caption h5 {
  font-size: 2.5vw;
  white-space: nowrap;
  text-transform: uppercase;
}
.carousel-caption p {
  margin-top: 3vw;
  padding: 0 2em;
  font-weight: 200;
  text-align: center;
  font-size: 1.3vw;
}
.carousel-caption .btn-primary {
  margin-top: 5vw;
  padding: 10px;
  width: 12vw;
  border-radius: 2em;
  font-size: 1.5vw;
}

/* ------------------------Slider Service------------------------------- */
.slider-service, .slider-clients{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.our-service h3, .our-clients h3{
  font-size: 2.8vw;
  font-weight: 700;
}
.our-service h3::after, .our-clients h3::after{
  content: "";
  display: block;
  border-bottom: 3px solid #2163ab;
  width: 20%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
.our-service p, .bottom-service, .our-clients p{
  margin-top: 30px;
  font-size: 1.2vw;
}
.splide{
  margin-top: 60px;
}
.splide__slide{
  background-color: aqua;
}
.splide__arrows .splide__arrow{
  border-radius: 0;
  background-color: transparent;
}
.splide__arrows .splide__arrow--prev{
  left: -3rem;
  color: #2163ab;
}
.splide__arrows .splide__arrow--next{
  right: -3rem;
  color: #2163ab;
}
.bottom-service{
  text-align: justify;
  padding: 0 50vw 0 10vw;
  margin-top: 60px;
}
.bottom-service p{
  line-height: 2;
}
.bottom-service button{
  margin-top: 20px;
}

 /* ================= Footer ================= */
 footer{
  margin-top: 7em;
  background-color: #B6CCFE;
  padding: 4vw 2.8vw 1vw 2.8vw;
 }
 footer .footer{
  display: flex;
  justify-content: space-around;
}
footer h3{
  font-weight: 700;
  font-size: 2vw;
}
footer .link-maps{
  color: black;
  font-size: 1vw;
  line-height: 1.7;
}
.footer a:hover{
  text-decoration: none;
  color: black;
}
.ul-flex{
  display: flex;
  gap: 2vw;
}
.ul-flex li{
  font-size: 1.9vw;
}
.copy-right{
  text-align: center;
  font-weight: 700;
  font-size: 0.7vw;
  text-transform: uppercase;
}
.copy-right p{
  margin: 5vw 0 0 0;
}
/* ------------------------Mobile-------------------------------------- */
@media screen and (max-width: 429px) {

  /* ===================== NAVBAR ===================== */
  .logo {
    width: 30vw;
  }
  body .navbar{
    padding: 0.8vw 3vw;
  }
  .navbar-nav {
    font-size: 4vw;
  }
  .nav-item {
    margin-top: 5px;
  }
  .fa-stream {
    color: #2163ab;
    font-size: 6vw;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  /* .nav-link:hover {
    background-color: #2163ab;
  } */

  /* ===================== Carousel ===================== */
  .carousel-item:before {
    content: "";
    background: rgba(16, 16, 16, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7vw;
    padding: 0;
  }
  .carousel-caption h5 {
    padding: 0 -3em;
    font-size: 7vw;
    white-space: pre-wrap;
    text-transform: uppercase;
  }
  .carousel-caption p {
    margin-top: 4vw;
    font-weight: 200;
    font-size: 3vw;
  }
  .carousel-caption .btn-primary {
    margin-top: 10vw;
    padding: 10px;
    width: 35vw;
    border-radius: 2em;
    font-size: 5vw;
  }
  .slide-images {
    width: 280vw;
    height: 91.9vh;
  }
  
/* ======================= Slider Service ======================= */
  .slider-service{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .our-service, .bottom-service, .our-clients{
    padding: 0 10vw;
  }
  .our-service h3, .our-clients h3{
    font-size: 6.8vw;
    font-weight: 600;
  }
  .our-service h3::after, .our-clients h3::after{
    content: "";
    display: block;
    border-bottom: 3px solid #2163ab;
    width: 20%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .our-service p, .bottom-service, .our-clients p{
    margin-top: 30px;
    font-size: 3.9vw;
  }
  .splide{
    margin-top: 40px;
  }
  .splide__slide{
    background-color: aqua;
  }
  .splide__arrows .splide__arrow{
    border-radius: 0;
    background-color: transparent;
  }
  .splide__arrows .splide__arrow--prev{
    left: -9vw;
    color: #2163ab;
  }
  .splide__arrows .splide__arrow--next{
    right: -9vw;
    color: #2163ab;
  }
  .bottom-service{
    text-align: center;
  }
  .bottom-service button{
    margin-top: 30px;
  }

  /* ======================= Slider Client ======================= */
  .slider-clients{
    margin-top: 7em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* ================= Footer ================= */
  
  footer{
    margin-top: 7em;
    background-color: #B6CCFE;
    padding: 8vw 5vw 2vw 5vw;
  }
  footer .footer{
    display: flex;
    flex-direction: column;
  }
  footer .contact, footer .website{
    margin-top: 8vw;
  }
  footer h3{
    font-weight: 700;
    font-size: 6.8vw;
  }
  footer .maps{
    padding-right: 20vw;
  }
  footer .link-maps{
    color: black;
    font-size: 3.9vw;
    line-height: 1.7;
  }
  .ul-flex{
    display: flex;
    gap: 5vw;
  }
  .ul-flex li{
    font-size: 6vw;
  }
  .copy-right{
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    text-transform: uppercase;
  }
  .copy-right p{
    margin: 8vw 0 0 0;
  }
} 
