@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

/*===============================================
# Preloader
===============================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #b6ccfe;
  border-top-color: #bfe0fd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =============== Scrollbar ================== */
html::-webkit-scrollbar {
  background-color: var(--white) !important;
  width: 16px !important;
}
html::-webkit-scrollbar-track {
  background-color: var(--white) !important;
}
html::-webkit-scrollbar-thumb {
  border-radius: 16px !important;
  border: 4px solid var(--white) !important;
  background: #2163ab;
}
html::-webkit-scrollbar-button {
  display: none !important;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #2163ab !important;
  border-radius: 16px !important;
  border: 5px solid var(--white) !important;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #4172a7 !important;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #3781d0 !important;
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #2163ab white;
    scrollbar-width: auto;
  }
}
/* ==================== End Scrollbar ================ */

/* ==================== NAVBAR ======================= */
.logo {
  width: 12vw;
  padding-left: 2vw;
}
body .navbar {
  padding: 0.8vw 4vw;
}
.nav-item {
  margin-right: 1.3em;
  font-weight: 500;
}
.nav-link:hover::after,
.dropdown-item:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #b6ccfe;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
/* ----------------------------- END NAVBAR------------------------------- */

/* ------------------ Carousel ------------------------------ */
.carousel-item::before{
  content: "";
  background: rgba(0, 0, 0, 0.72);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.carousel-item img{
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 93vh;

}
.carousel-item .carousel-caption{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10vw;
}
.carousel-caption h4{
  font-size: 2.5vw;
  font-weight: 600;
}
.carousel-caption p{
  margin-top: 20px;
  font-size: 1.3vw;
}
.carousel-caption a{
  margin-top: 20px;
  background-color: #b6ccfe;
  border: none;
  width: 15vw;
  color: #202020;
  font-weight: 500;
  font-size: 1.4vw;
  border-radius: 20px;
}

/* ------------------------Slider Service------------------------------- */
.slider-service,
.slider-clients {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.our-service h3,
.our-clients h3 {
  font-size: 2.8vw;
  font-weight: 700;
}
.our-service h3::after,
.our-clients h3::after {
  content: "";
  display: block;
  border-bottom: 3px solid #b6ccfe;
  width: 20%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
.our-service p,
.bottom-service,
.our-clients p {
  margin-top: 30px;
  font-size: 1.2vw;
}
.splide {
  margin-top: 60px;
}
.splide__slide {
  background-color: #b6ccfe;
}
.splide__arrows .splide__arrow {
  border-radius: 0;
  background-color: transparent;
}
.splide__arrows .splide__arrow--prev {
  left: -3rem;
  color: #b6ccfe;
}
.splide__arrows .splide__arrow--next {
  right: -3rem;
  color: #b6ccfe;
}
.bottom-service {
  text-align: justify;
  padding: 0 50vw 0 10vw;
  margin-top: 60px;
}
.bottom-service p {
  line-height: 2;
}
.bottom-service .btn-primary {
  margin-top: 20px;
  background-color: #b6ccfe;
  border: none;
  width: 12vw;
  border-radius: 10px;
  font-size: 1.3vw;
  color: #202020;
  font-weight: 500;
}

/* ================= Footer ================= */
footer {
  margin-top: 7em;
  background-color: #b6ccfe;
  padding: 4vw 2.8vw 1vw 2.8vw;
}
footer .footer {
  display: flex;
  justify-content: space-around;
}
footer h3 {
  font-weight: 700;
  font-size: 2vw;
}
footer .link-maps {
  color: black;
  font-size: 1vw;
  line-height: 1.7;
}
.footer a:hover {
  text-decoration: none;
  color: black;
}
.ul-flex {
  display: flex;
  gap: 2vw;
}
.ul-flex li {
  font-size: 1.9vw;
}
.ul-flex li a {
  color: #212529;
}
.copy-right {
  text-align: center;
  font-weight: 700;
  font-size: 0.7vw;
  text-transform: uppercase;
}
.copy-right p {
  margin: 5vw 0 0 0;
}

/* ===================Halaman About=================== */
.banner::after{
  content: "";
  position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
}
.banner .banner-image{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}



/* ========================= Tablet ================================== */
@media (max-width: 992px) {
  /* ===================== NAVBAR ===================== */
  .logo {
    padding-left: 0;
    width: 12vw;
  }
  .fa-stream {
    color: #2163ab;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }

  /* ======================= Carousel  ======================== */
  .carousel-caption h4{
    font-size: 4vw;
    font-weight: 600;
  }
  .carousel-caption p{
    margin-top: 20px;
    font-size: 2.5vw;
  }
  .carousel-caption a{
    margin-top: 20px;
    background-color: #b6ccfe;
    border: none;
    width: 30vw;
    color: #202020;
    font-weight: 500;
    font-size: 2.5vw;
    border-radius: 15px;
  }
  .carousel-caption2,
  .carousel-caption3 {
    margin-top: 11.4vw;
  }
}

/* ------------------------Mobile-------------------------------------- */
@media screen and (max-width: 429px) {
  /* ===================== NAVBAR ===================== */
  .logo {
    width: 30vw;
  }
  body .navbar {
    padding: 0.8vw 3vw;
  }
  .navbar-nav {
    font-size: 4vw;
  }
  .nav-item {
    margin-top: 5px;
  }
  .fa-stream {
    color: #2163ab;
    font-size: 6vw;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  /* .nav-link:hover {
    background-color: #2163ab;
  } */

  /* ===================== Carousel ===================== */
  .carousel-caption h4{
    font-size: 5.5vw;
    font-weight: 600;
  }
  .carousel-caption p{
    margin-top: 15px;
    font-size: 3.5vw;
  }
  .carousel-caption a{
    margin-top: 15px;
    background-color: #b6ccfe;
    border: none;
    width: 40vw;
    color: #202020;
    font-weight: 500;
    font-size: 4vw;
    border-radius: 10px;
  }


  /* ======================= Slider Service ======================= */
  .slider-service {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .our-service,
  .bottom-service,
  .our-clients {
    padding: 0 10vw;
  }
  .our-service h3,
  .our-clients h3 {
    font-size: 6.8vw;
    font-weight: 600;
  }
  .our-service h3::after,
  .our-clients h3::after {
    content: "";
    display: block;
    border-bottom: 3px solid #b6ccfe;
    width: 20%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .our-service p,
  .bottom-service,
  .our-clients p {
    margin-top: 30px;
    font-size: 3.9vw;
  }
  .splide {
    margin-top: 40px;
  }
  .splide__slide {
    background-color: #b6ccfe;
  }
  .splide__arrows .splide__arrow {
    border-radius: 0;
    background-color: transparent;
  }
  .splide__arrows .splide__arrow--prev {
    left: -9vw;
    color: #b6ccfe;
  }
  .splide__arrows .splide__arrow--next {
    right: -9vw;
    color: #b6ccfe;
  }
  .bottom-service {
    text-align: center;
  }

  .bottom-service .btn-primary {
    margin-top: 30px;
    background-color: #b6ccfe;
    border: none;
    width: 45vw;
    border-radius: 10px;
    font-size: 5vw;
    color: #202020;
    font-weight: 500;
  }

  /* ======================= Slider Client ======================= */
  .slider-clients {
    margin-top: 7em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* ================= Footer ================= */

  footer {
    margin-top: 7em;
    background-color: #b6ccfe;
    padding: 8vw 5vw 2vw 5vw;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
  }
  footer .contact,
  footer .website {
    margin-top: 8vw;
  }
  footer h3 {
    font-weight: 700;
    font-size: 6.8vw;
  }
  footer .maps {
    padding-right: 20vw;
  }
  footer .link-maps {
    color: black;
    font-size: 3.9vw;
    line-height: 1.7;
  }
  .footer a:hover {
    text-decoration: none;
    color: black;
  }
  .ul-flex {
    display: flex;
    gap: 5vw;
  }
  .ul-flex li {
    font-size: 6vw;
  }
  .ul-flex li a {
    color: #212529;
  }
  .copy-right {
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
    text-transform: uppercase;
  }
  .copy-right p {
    margin: 8vw 0 0 0;
  }

  /* =========Halaman About================ */

}
